// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

// Input device configuration.
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            options "caps:none"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {}

    trackpoint {}

    warp-mouse-to-focus

    focus-follows-mouse max-scroll-amount="100%"
}

output "DP-3" {
    mode "2560x1440@165"

    scale 1

    transform "normal"

    position x=1920 y=0
}

output "DP-1" {
    mode "1920x1080@300.002"

    scale 1

    transform "normal"

    position x=0 y=150
}


layout {
    gaps 0

    center-focused-column "never"

    preset-column-widths {
        proportion 0.25
        proportion 0.5
        proportion 0.75
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        off

        width 1

        active-color "#6c8aff"

        inactive-color "#595959"
    }

    border {
        on

        width 1
        active-color "#6c8aff"
        inactive-color "#595959"

        urgent-color "#9b0000"
    }

    shadow {
        softness 30

        spread 5

        offset x=0 y=5

        color "#0007"
    }

    struts {}
}

spawn-at-startup "quickshell"
spawn-at-startup "easyeffects" "--gapplication-service"
spawn-at-startup "openrgb" "--startminimized" "-p" "blue"
spawn-at-startup "swaybg" "-m" "fill" "-i" "/home/clamt/Pictures/wallpapers/353544.jpg"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    on

    slowdown 0.75

    window-open {
        duration-ms 0
    }
    window-close {
        duration-ms 0
    }
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.1
    }
}

binds {

    // Apps

    Mod+T { spawn "wezterm"; }
    Mod+Space { spawn "fuzzel"; }
    Mod+D { spawn "helium-browser"; }
    Mod+E { spawn-sh "wezterm -e yazi"; }
    Mod+Shift+E { spawn "nautilus"; }

    // Navigation

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+Left  { focus-column-or-monitor-left; }
    Mod+Right { focus-column-or-monitor-right; }

    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+Left  { focus-monitor-left; }

    Mod+Down     { focus-workspace-down; }
    Mod+Up       { focus-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+WheelScrollDown      cooldown-ms=75 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=75 { focus-workspace-up; }

    Mod+Shift+WheelScrollUp        { focus-column-or-monitor-left; }
    Mod+Shift+WheelScrollDown      { focus-column-or-monitor-right; }

    Mod+Shift+Ctrl+Down { move-workspace-down; }
    Mod+Shift+Ctrl+Up   { move-workspace-up; }

    // Moving windows

    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+Shift+Ctrl+Right  { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }

    Mod+Shift+Down     { move-column-to-workspace-down; }
    Mod+Shift+Up       { move-column-to-workspace-up; }

    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Alt+Left  { move-column-left; }
    Mod+Alt+Right { move-column-right; }

    // Resizing windows

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-column-width-back; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+B { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+N       { toggle-window-floating; }

    // Etc

    Mod+Shift+S { screenshot; }
    Mod+S { screenshot-screen; }
    Mod+Ctrl+S { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+M { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }

    Mod+Ctrl+Left { spawn-sh "playerctl previous"; }
    Mod+Ctrl+Right { spawn-sh "playerctl next"; }
    Mod+Ctrl+Space { spawn-sh "playerctl play-pause"; }

    Mod+Ctrl+Up { spawn-sh "sh $HOME/nix-config/scripts/volume.sh +"; }
    Mod+Ctrl+Down { spawn-sh "sh $HOME/nix-config/scripts/volume.sh -"; }

    KP_Subtract { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    Mod+Tab { spawn-sh "sh $HOME/.config/quickshell/position.sh"; }
}

environment {
	ELECTRON_OZONE_PLATFORM_HINT "auto"
    EDITOR "micro"
}

gestures {
    hot-corners {
        off
    }
}